### OSX ###
.DS_Store
.AppleDouble
.LSOverride


### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
static_cdn/

.env
db.sqlite3
test-results


### Coverage ###
.coverage


### Redis ###
dump.rdb


### Gulp ###
node_modules
templates/**/*.html
static/css


*.sh